<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-none d-lg-block">{{pageTitle}}</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/welcome'>Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/gameBrowser'>Game Browser</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" (click)="openModal(template)">Log In</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logOut()" style="cursor: pointer">Log Out</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink='/userDetails' style="cursor: pointer">Display User Name</a>
      </li>
    </ul>
  </div>
</nav>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-login (close)="modalRef.hide()"></app-login>
  </div>
</ng-template>